<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd	
 http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd	   
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd       
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
    <context:mbean-export/>
    
    <!--<mvc:annotation-driven/>-->
    <context:component-scan base-package="com.xedrux.cclouds.web" />

    
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="file:${properties_path}">
    </bean>


    <bean id="MydataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"
                  value="${jdbc.driverClassName}" /> 
        <property name="url"  value="${jdbc.url}" /> 
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
    <bean id="UserDAO" class="com.xedrux.cclouds.web.dao.UserDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="RolDAO" class="com.xedrux.cclouds.web.dao.RolDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="ModuleDAO" class="com.xedrux.cclouds.web.dao.ModuleDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="LogDAO" class="com.xedrux.cclouds.web.dao.LogDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="RolOptionDAO" class="com.xedrux.cclouds.web.dao.RolOptionDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="CountryDAO" class="com.xedrux.cclouds.web.dao.CountryDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="ProvinceDAO" class="com.xedrux.cclouds.web.dao.ProvinceDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="CityDAO" class="com.xedrux.cclouds.web.dao.CityDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="ParroquiaDAO" class="com.xedrux.cclouds.web.dao.ParroquiaDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="OptionDAO" class="com.xedrux.cclouds.web.dao.OptionDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="AdmModuloDAO" class="com.xedrux.cclouds.web.dao.AdmModuloDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="SexDAO" class="com.xedrux.cclouds.web.dao.SexDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="EmpresaDAO" class="com.xedrux.cclouds.web.dao.EmpresaDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="SubEmpresaDAO" class="com.xedrux.cclouds.web.dao.SubEmpresaDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="SucursalDAO" class="com.xedrux.cclouds.web.dao.SucursalDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    <bean id="AgencialDAO" class="com.xedrux.cclouds.web.dao.AgencialDAO">
        <property name="dataSource" ref="MydataSource"/>
    </bean>
    
    <bean id="transactionManager" 
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="MydataSource"/>
    </bean>

    <aop:config>
        <aop:advisor pointcut="execution( * com.xedrux.cclouds.web.controllers.*.*(..))" advice-ref="txAdvice"/>
    </aop:config>

    <tx:advice id="txAdvice"  transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRES_NEW" rollback-for="UnableToCreateEntityException"/>
            <!--tx:method name="*" read-only="true"/-->
        </tx:attributes>
    </tx:advice>
    <bean id="myPermissionEvaluator" class="com.xedrux.cclouds.web.springconfig.CcloudsPermissionEvaluator">
        
    </bean>
    <bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="myPermissionEvaluator"/>
    </bean>
</beans>
